@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@mixin flex-center {
  display: flex;
  align-items: center; 
  justify-content: center;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

@mixin twelve-grid {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

.sidebar, h1, h2, h3, p {
  transition: 15s ease;
}

.App {
  @include twelve-grid;
  max-height: 100vh;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  h1 {
    font-size: 3rem;
    color: rgb(50,50,50);
    font-weight: 700;
    margin: 30px auto 10px auto;
  }
  h2 {
    margin: 10px auto;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgb(240,240,240);
  }
  h3 {
    color: white;
    margin: 10px auto 5px auto;
    text-align: center;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-area: 1/1/13/4;
    background-color: rgb(255, 255, 255);
    .colourButton {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(2, 2, 3);
      height: 50px;
      width: 125px;
      background-color: white;
      border-radius: 5px;
      margin: 20px auto;
      font-weight: bold;
      border: 2px solid rgba(50,50,50,0.5);
      cursor: pointer;
      &:hover {
        transition: 0.1s;
        background-color: rgba(240,240,240,0.5);
      }
    }
    .colourway {
      width: 80%;
      margin: 20px auto;
      .switch {
        margin: 20px auto;
        height: 120px;
        .slider {
          height: 30px;
          width: 100%;
          display: inline-flex;
          justify-content: space-evenly;
          position: relative;
          .handleContainer {
            @include flex-center;
            height: 30px;
            width: 25%;
            cursor: pointer;
            .handleoverlay {
              height: 20px;
              width: 20px;
              background-color: white;
              border-radius: 50%;
              margin: auto;
            }
          }
          .handle {
            background-color: rgb(50,50,50);
            border-radius: 50%;
            height: 16px;
            width: 16px;
            position: absolute;
            top: 7px;
            left: calc(12.5% - 8px);
            transition: .6s ease-in-out;
          }
        }
        .options {
          display: inline-flex;
          flex-wrap: no-wrap;
          justify-content: space-evenly;
          height: 30px;
          width: 100%;
          font-weight: 600;
          color: white;
          p {
            margin: 0px auto;
            width: 25%;
            text-align: center;
          }
        }
      }
      .colorBar {
        width: 100%;
        margin: 10px auto;
        border-radius: 5px;
        height: 50px;
        @include flex-center;
        border: 1.5px solid lightgray;
        cursor: pointer;
        position: relative;
        .lockIcon {
          height: 26px;
          width: 26px;
          position: absolute;
          right: 10%;
          top: calc(50% - 13px);
        }
      }
    }
  }
  .main {
    grid-area: 1/4/13/13;
    transition: 2s ease;
    @include twelve-grid;
    .minisite {
      grid-area: 2/2/12/9;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 3px 4px rgba(80,80,80,0.4);
      display: grid;
      grid-template: repeat(24, 1fr) / repeat(12, 1fr);
      .nav {
        grid-area: 1/1/2/13;
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        .genericLogo {
          font-size: 40px;
        }
      }
      .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: 2/1/11/13;
        background-color: red;
        .ctaButton {
          margin-top: 10px;
          height: 40px;
          width: 140px;
          @include flex-center;
          border-radius: 10px;
        }
      }
      .section2 {
        grid-area: 12/2/16/12;
        display: inline-flex;
        justify-content: space-between;
        .contentBlock {
          width: 25%;
        }
        .textContent {
          font-size: 15px;
          width: 70%
        }
      }
      .section3 {
        display: inline-flex;
        justify-content: space-between;
        grid-area: 17/2/21/12;
        .contentBlock {
          width: 25%;
        }
        .textContent {
          font-size: 15px;
          width: 70%;
        }
      }
      .footer {
        grid-area: 22/1/26/13;
        display: inline-flex;
        justify-content: space-evenly;
        font-size: 0.8rem;
      }
    }
    .hslWheelContainer {
      grid-area: 2/9/6/13;
      @include flex-center;
      .hslWheel {
        background-image: url('./hslwheel.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 80%;
        width: 80%;
        margin: auto;
        z-index: 0;
        position: relative;
        @include flex-center;
      }
    }
    .handContainer, .handContainerTwo, .handContainerThree {
      height: 80%;
      width: 80%;
      margin: auto;
      grid-area: 2/9/6/13;
      position: relative;
      .colourHandOne, .colourHandTwo, .colourHandThree {
        bottom: 50%;
        left: calc(50% - 1.2px);
        height: 48%;
        width: 2.4px;
        background-color: white;
        border-radius: 2px;
        position: absolute;
      }
    }
    .handContainer {
      z-index: 1;
    }
    .handContainerTwo {
      z-index: 2
    }
    .handContainerThree {
      z-index: 3;
    }
  }
}